@charset "UTF-8";
//----------------------------------------------
.for-nav-fixed {
  padding-top: 150px;

  @media (max-width: $screen-xs-max) {
    padding-top: 121px;
  }
}

//----------------------------------------------
.header {
  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 20px;

    @media (max-width: $screen-xs-max) {
      padding-bottom: 5px;
    }
  }
}

//----------------------------------------------
.ui {
  &.text {
    &.menu {
      margin-bottom: 20px;
      background-color: #fff;

      @media (max-width: $screen-xs-max) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

//----------------------------------------------
.container-map {
  height: 100vh;

  .ui {
    &.embed {
      height: 100vh;
    }
  }
}

//----------------------------------------------
.container-img {
  display: table;
  padding: 0 5%;
  color: #fff;
  background-color: #000;

  .inner {
    display: table-cell;
    vertical-align: middle;
  }

  .title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  .caption {
    margin-top: 20px;
  }
}

//----------------------------------------------
.container-comment {
  padding: 5% 5% 0;

  .ui {
    &.form {
      margin-bottom: 25px;
    }
  }

  .title-comment {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  textarea {
    margin-bottom: 20px;
  }

  .comment {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    + .comment {
      border-top: 0;
    }
  }
}
