@charset "UTF-8";

//----------------------------------------------
// WordPress default pagination CSS.
.pagination {
  $border-radius-base: 0;

  display: inline-block;

  a,
  span {
    position: relative;
    float: left; // Collapse white-space
    padding: $padding-base-vertical $padding-base-horizontal;
    margin-left: -1px;
    line-height: $line-height-base;
    color: #707070;
    text-decoration: none;
    background-color: $pagination-bg;
    border-top: 1px solid $pagination-border;
    border-right: 1px solid $pagination-border;
    border-bottom: 1px solid $pagination-border;

    + a,
    + span {
      border-left: 1px solid $pagination-border;
    }

    &:first-child {
      @include border-left-radius(4px);
      margin-left: 0;
      border-left: 1px solid $pagination-border;
    }

    &:last-child {
      @include border-right-radius(4px);
    }
  }

  a {
    padding-right: 15px;
    padding-left: 15px;

    &:hover,
    &:focus {
      // color: #fff;
      background-color: #eee;
      // border-color: #999;
    }
  }

  span {
    z-index: 3;
    // color: $pagination-active-color;
    cursor: default;
    // background-color: #666;
    // border-color: #666;
  }

  .current {
    color: #fff;
    background-color: #707070;
  }
}
