@charset "UTF-8";

//----------------------------------------------
.panel-contact {
  @include box-shadow (none);
  color: #222;
  border: 0;
  border-radius: 0;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }

  .panel-title {
    margin-bottom: 0;
  }

  .both-side-slash {
    position: relative;
    display: inline-block;
    padding-right: 56px;
    padding-left: 56px;
    margin-top: 5px;
    text-align: center;

    &:after,
    &:before {
      top: -8px;
      bottom: 0;
      width: 26px;
      height: 34px;
    }

    &:before {
      background: url("../img/common/slash-left-white.png") no-repeat;
    }

    &:after {
      background: url("../img/common/slash-right-white.png") no-repeat;
    }
  }

  .panel-heading {
    padding: 9px 10px 2px;
    text-align: center;
    background-color: #c83737;
    border-bottom: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    @media (max-width: $screen-xs-max) {
      padding-top: 9px;
      padding-bottom: 6px;
    }
  }

  .panel-body {
    padding: 15px 15px 20px;
    border: 7px solid #b9b9b9;
    border-top: 0;

    @media (max-width: $screen-xs-max) {
      padding: 4px 4px 0 4px;
      border-width: 4px;
    }
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.1;
    color: #fff;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }

  .inner {
    @include center-block ();
    @include clearfix ();
    max-width: 820px;
  }

  .lead {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
      text-align: center;
    }

    @media (max-width: 413px) {
      margin-bottom: 3px;
    }
  }

  .hours {
    display: block;
    margin-top: 5px;
    margin-left: 67px;
    font-size: 26px;
  }

  .img {
    float: right;
    margin-top: -74px;
  }

  .body {
    @media (min-width: $screen-sm-min) {
      float: left;
    }
  }

  .container-btn {
    @include center-block ();
    max-width: 854px;
    text-align: center;

    a {
      @include box-shadow (0 -1px 3px 0 rgba(0, 0, 0, .3));
      display: block;
      border-radius: 24px;
    }
  }

  .btn-tel-sm {
    margin-bottom: 4px;
  }

  .media {
    max-width: 304px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 321px) {
      overflow: visible;
    }
  }

  .media-right {
    padding-left: 0;

    @media (min-width: 321px) {
      overflow: visible;
    }

    img {
      display: inline-block;
      vertical-align: bottom;

      @media (min-width: 321px) {
        margin-top: -15px;
      }

      @media (max-width: 320px) {
        width: 78px;
      }
    }
  }
}
