@charset "UTF-8";

//----------------------------------------------
mark,
.mark {
  display: inline-block;
  padding: .1em 0;
  background-color: #fcee21;
}

// Page header
// -------------------------

.page-header {
  display: table;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 0;
  text-align: center;
  background-color: #ccc;
  border-bottom: 0;

  @media (min-width: $screen-xs-min) {
    height: 200px;// Can not use min-height. Because of it is not working on Firefox.
  }

  .title {
    display: table-cell;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1;
    vertical-align: middle;
  }

  small {
    display: block;
  }
}

//----------------------------------------------
.dl-list-indent {
  margin-bottom: 0;

  &,
  dd {
    overflow: hidden;
    zoom: 1;
  }

  dt,
  dd {
    display: table-cell;
    line-height: 1.4;
    vertical-align: top;
  }

  dt {
    padding-right: 5px;
    font-weight: normal;

    img {
      display: block;
    }
  }

  dd {
    width: 10000px;
  }

  &.cleared-xs {
    @media (max-width: $screen-xs-max) {
      dt {
        display: block;
      }

      dd {
        padding-top: 0;
      }
    }
  }
}

//----------------------------------------------
.highlight-yellow {
  background: linear-gradient(transparent 60%, #ffff66 60%);
}

// sass-lint:disable brace-style
// stylelint-disable block-opening-brace-space-before, block-opening-brace-space-after, block-closing-brace-space-before
//----------------------------------------------
.text-gray {color: #ccc !important;}
.text-red  {color: #f00 !important;}
// sass-lint:enable brace-style
// stylelint-enable block-opening-brace-space-before, block-opening-brace-space-after, block-closing-brace-space-before

//----------------------------------------------
.text-bold {
  font-weight: bold !important;
}

//----------------------------------------------
.text-break {
  word-break: break-all !important;
}

//----------------------------------------------
.text-emphasis {
  font-size: 3rem;
  line-height: 4.5rem;

  @media (max-width: $screen-xs-max) {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .fs-xxs {
    font-size: 1rem;
  }

  .fs-xs {
    font-size: 1.5rem;

    @media (max-width: $screen-xs-max) {
      font-size: 1.2rem;
    }
  }

  .fs-sm {
    font-size: 2rem;

    @media (max-width: $screen-xs-max) {
      font-size: 1.5rem;
    }
  }

  .fs-lg {
    font-size: 6rem;

    @media (max-width: $screen-xs-max) {
      font-size: 2rem;
    }
  }

  .fs-xlg {
    font-size: 8rem;

    @media (max-width: $screen-xs-max) {
      font-size: 3rem;
    }
  }
}

//----------------------------------------------
.text-center-xs {
  @media (max-width: $screen-xs-max) {
    text-align: center !important;
  }
}

.text-center-sm {
  @media (max-width: $screen-sm-max) {
    text-align: center !important;
  }
}

.text-center-md {
  @media (max-width: $screen-md-max) {
    text-align: center !important;
  }
}


// stylelint-disable
// sass-lint:disable-all
//----------------------------------------------
// TODO: set offset via variable
@mixin text-shadow-outline($color) {
  text-shadow:
    // outline
    2px 2px 0 $color,
    2px -2px 0 $color,
    -2px 2px 0 $color,
    -2px -2px 0 $color,
    2px 0 0 $color,
    0 2px 0 $color,
    -2px 0 0 $color,
    0 -2px 0 $color;

  @media (max-width: $screen-xs-max) {
    text-shadow:
      // outline
      1px 1px 0 $color,
      1px -1px 0 $color,
      -1px 1px 0 $color,
      -1px -1px 0 $color,
      1px 0 0 $color,
      0 1px 0 $color,
      -1px 0 0 $color,
      0 -1px 0 $color;
  }
}

@mixin text-shadow-outline-blurred($color) {
  text-shadow:
    // outline
    2px 2px 0 $color,
    2px -2px 0 $color,
    -2px 2px 0 $color,
    -2px -2px 0 $color,
    2px 0 0 $color,
    0 2px 0 $color,
    -2px 0 0 $color,
    0 -2px 0 $color,

      // blur
    2px 3px 2px $color,
    2px -3px 2px $color,
    -2px 3px 2px $color,
    -2px -3px 2px $color,
    3px 0 2px $color,
    0 3px 2px $color,
    -3px 0 2px $color,
    0 -3px 2px $color;

  @media (max-width: $screen-xs-max) {
    text-shadow:
      // outline
      1px 1px 0 $color,
      1px -1px 0 $color,
      -1px 1px 0 $color,
      -1px -1px 0 $color,
      1px 0 0 $color,
      0 1px 0 $color,
      -1px 0 0 $color,
      0 -1px 0 $color,

        // blur
      1px 2px 1px $color,
      1px -2px 1px $color,
      -1px 2px 1px $color,
      -1px -2px 1px $color,
      2px 0 1px $color,
      0 2px 1px $color,
      -2px 0 1px $color,
      0 -2px 1px $color;
  }
}
// sass-lint:enable-all
// stylelint-enable

//----------------------------------------------
.text-shadow-outline-black {
  @include text-shadow-outline(#000);
  color: #fff;
}

.text-shadow-outline-blurred-black {
  @include text-shadow-outline-blurred(#000);
  color: #fff;
}

//----------------------------------------------
address {
  margin-bottom: 0;
  line-height: 1.1;
}

//----------------------------------------------
.v-middle {
  vertical-align: middle !important;
}
