{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order",
        "stylelint-plugins"
    ],
    "rules": {
        "declaration-empty-line-before": null,
        "color-hex-length": null,
        "selector-pseudo-element-colon-notation": "single",
        "number-leading-zero": "never",
        "no-duplicate-selectors": true,
        "function-name-case": [
            "lower",
            {
                "ignoreFunctions": ["/DXImageTransform/"]
            }
        ],
        "order/order": [
            "dollar-variables",
            {
                "type": "at-rule",
                "name": "include"
            },
            "declarations",
            {
                "type": "rule",
                "selector": "/^&/"
            },
            {
                "type": "at-rule",
                "name": "media"
            },
            "rules"
        ],
        "stylelint-plugins/selector-blacklist": {
            "blacklist": [
                ".ga",
                ".group-button",
                ".hoge"
            ]
        },
        "stylelint-plugins/file-name-match": {
            "selectorAndFileNameMap": {
                "body":        "_scaffolding.scss",
                ".nav":        "_navs.scss",
                ".navbar":     "_navs.scss",
                ".btn":        "_buttons.scss",
                ".pagination": "_pagination.scss",
                ".list-group": "_list-group.scss",
                ".media":      "_media.scss",
                ".panel":      "_panels.scss",
                ".table":      "_tables.scss",
                ".breadcrumb": "_breadcrumbs.scss",
                ".title":      "_title.scss",
                ".hr":         "_scaffolding.scss",
                ".text":       "_type.scss",
                ".section":    "_section.scss",
                ".box":        "_box.scss",
                ".label":      "_labels.scss"
            }
        }
    }
}
